.codo-w-main, .codo-w-side{
    float: left;
}

.codo-w-main{
    width: 70%;
    overflow: hidden;
}

.codo-w-side{
    padding: 0 0 0 2%;
    width: 30%;
}
.codo-w-250{
    min-width: 150px !important; 
    max-width: 150px !important;
}

.codo-full-width{
    width: 100%;
    overflow: hidden;
}

.codo-form-field{
    padding: 3px;
    border: 1px solid #999 !important;
}

.codo-error{
    color: red;
}

.codoflex-nav-wrapper{
    display: flex;
}
  
.codoflex-nav-spacer{
    flex-grow: 1;
}

.codo-form-field-wrapper{
    margin-bottom: 10px;
}

.codosupport-ticket{
    overflow: hidden;
}

.codosupport-tickets-list .list-item,
.codosupport-ticket .list-item-meta,
.codosupport-ticket .list-item-details,
.codosupport-ticket .add-history,
.codosupport-ticket .history-list-item{
    padding: 20px 0;
}

.codosupport .list-item-meta .meta-entry-key,
.codosupport .item-attachments .meta-entry-key{
    font-weight: bold;
}

.codosupport .item-bg-title{
    padding: 10px;
}