.codo-w-250{
    min-width: 150px !important; 
    max-width: 150px !important;
}

.codo-full-width{
    width: 100%;
}

.codo-form-field{
    padding: 3px;
    border: 1px solid #999 !important;
}

.codo-error{
    color: red;
}

/* Style the tab */
.codosupport-tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.codosupport-tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    opacity: 0.6;
}

/* Change background color of buttons on hover */
.codosupport-tab button:hover {
    opacity: 1;
}

/* Create an active/current tablink class */
.codosupport-tab button.active {
    opacity: 1;
}

/* Style the tab content */
.codosupport-tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.codo-form-field-wrapper{
    margin-bottom: 10px;
}

.codosupport-tickets-list .list-item{
    border-bottom: 1px solid #eeeeee;
}